@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

html, body {
  background: floralwhite;
  color: #444;
  font-family: 'Nunito';
}

::selection {
  background: #444;
  color: floralwhite;
}

.content h1 {
  padding: 2%;
  text-align: center;
  background: floralwhite;
  margin: 2%;
  border: 1px solid #444;
  box-shadow: 5px 10px #444;
}

nav a {
  display: block;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: rgb(129, 129, 129);
  border-top: 1px solid rgb(207, 207, 207);
}
